//for mobile screen
@media only screen and (max-width: 576px ) {
 .text_center_sm{
    text-align: center;
    margin-bottom: 15px;
 }
 .margin_x_sm{
   margin: 0 10%;
 }

 .margin_bottom_sm{
    margin-bottom: 25px;
 }
 .padding_y_sm{
   padding: 35px 0px;
 }
.hide_on_sm {
   display: none;
}

// not working at all , unable to override some css properties of BS
.bg_none_sm{
   background-color: blue!important;
   font-size: larger;
}
.carousal_sm > img{
   width: 60%;
   height: auto;
}

.carousal_card_sm{
   justify-content: center;
}
.carousal_card_sm > img{
   justify-self: center;
   width: 80%;
   height: auto;
}
.place-my-show {
   left: 25%;
}
.bg_white_sm {
   background-color: white;
}

.bg_purple_sm{
   background: #7C7EB5;
}
.foot_link_sm {
   margin-left: 10% ;
}

}
//for PC
@media only screen and (min-width: 576px ) {
.show_on_sm {
   display: none;   
}
// .dropdown_sm > select {
//    border-radius: 1.375rem;
// }
// .dropdown_sm > button {
//    border-radius: 99px;
//    border: 2px solid white;
// }

}