.bgsky {
  background: #bfe1ff;
}
.bg-lightpurple {
  background: #8e7cb5;
}
.bg_lightpink {
  background: #ffe4e7;
}
.bg_footer{
    background: #12193B;

}
.link-white {
  color: white;
  font-weight: 500;
}
.h1card {
  width: 40%;
  height: auto;
}
.bg_accordion{
  background: #E5E5E5;
}
.foot_lineheight{
  line-height: 2.5rem;
}
.a{
  background-color: red;
}
.headingAccor{
  color: #F2707C;

}