.bgsky {
  background: #bfe1ff;
}

.bg-lightpurple {
  background: #8e7cb5;
}

.bg_lightpink {
  background: #ffe4e7;
}

.bg_footer {
  background: #12193B;

}

.link-white {
  color: white;
  font-weight: 500;
}

.h1card {
  width: 40%;
  height: auto;
}

.bg_accordion {
  background: #E5E5E5;
}

.foot_lineheight {
  line-height: 2.5rem;
}

.a {
  background-color: red;
}

.btnAcc {
  color: #F2707C;
}

.bg_verylight_pink {
  background: #F7F3FF;
}
.my-show{
  position: relative;
}
.my-show > img {
  width: 240px;
  height: auto;
  
}

.place-my-show{
  position: absolute;
  bottom: 30px;
  left: 35%;
  color: #F7F3FF;
  // border: 2px solid white;

}

.place-my-show > p {
  margin: 0;
  text-align: start;
  line-height: 1.30rem;
}

.circle-around-my{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #F7F3FF;
  margin-right: 15px;
}

.myimg{
  width: 70%;
  background-color: #F7F3FF;
  // border-radius: 50%;

  height: auto;
}
// .circle-around-my > img {
//   max-width: 90px;
//   height: auto;
// }

// .accordion-button {
//   color: red;
// }
.accordion-header > button {
  color: red;
}
.bottom_carousal > img{
  width: 450px;
  height: auto;
}