/* font-family: 'Ubuntu', sans-serif; */
* {
  margin: 0;
  padding: 0;
  font-family: 'Ubantu', sans-serif;
}
header{
  background-color: antiquewhite;
  box-sizing: border-box;
}
nav{
  display: flex ;
}
nav ul{
  display: flex;

}
nav ul 
